@media only screen and (max-width: 75em) {
  .line {
    display: none;
  }

  .grid-2x2 {
    padding: 15rem 6rem 0;
  }
}

@media only screen and (max-width: 68.75em) {
  .main__nav {
    padding: 0 4rem;
  }

  .nav__links {
    gap: 5rem;
  }

  .home__section {
    gap: 20rem;
  }

  .crew__section {
    gap: 6rem;
  }
  .technology__text-box {
    gap: 4rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .container {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-size: cover;
  }

  .grid-2x2,
  .crew__section {
    grid-template-columns: 1fr;
  }

  .header {
    padding: 2rem;
  }

  .nav__links {
    gap: 2rem;
  }
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.4rem;
  }

  .home__section,
  .destination__section {
    justify-items: center;
    text-align: center;
  }

  .tertiary__box {
    justify-content: flex-start;
  }

  .destinations,
  .destination__distance {
    justify-content: center;
  }

  .heading__text,
  .destination__text {
    width: 60%;
    align-self: center;
    text-align: center;
  }
  .destination__text {
    width: 80%;
  }

  .crew__section {
    height: auto;
    padding-top: 15rem;
  }

  .crew__box {
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: stretch;
    gap: 1.3rem;
  }
  .tertiary__box {
    align-self: flex-start;
  }

  .crew__img {
    height: auto;
  }

  .box {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .technology__section {
    padding: 6rem 0 0;
  }

  .technology__section .tertiary__box {
    padding: 0 0 0 6rem;
  }
  .technology__img-box {
    order: -1;
    justify-self: stretch;
    /* align-self: center; */
    padding: 5rem 0 4.5rem 0;
  }

  .technology__text-box {
    padding: 0 6rem;
    flex-direction: column;
    align-items: center;
  }

  .technology__number-box {
    flex-direction: row;
  }

  .technology__description-box {
    text-align: center;
  }
}
@media only screen and (max-width: 50em) {
  .heading__text {
    width: 100%;
  }

  .main__nav {
    background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(4.07742rem);
    backdrop-filter: blur(4.07742rem);
    position: absolute;
    top: 0;
    right: 0;
    width: 75vw;
    height: 100vh;
    z-index: 2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.5s;
    /* transform: translateX(10%); */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    /* z-index: 4; */
  }

  .nav-open .main__nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    z-index: 4;
  }
  .nav__links {
    position: absolute;
    top: 20%;
    left: 50%;
    gap: 1rem;
    transform: translate(-50%, 0);

    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* display: none; */
  }

  .btn-mobile-nav {
    display: flex;
    z-index: 5;
  }
  .nav-open .open__icon {
    display: none;
  }

  .nav-open .close__icon {
    display: block;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 56.25%;
  }

  .grid-2x2 {
    padding: 6rem 2rem 0;
  }

  .primary__heading {
    font-size: 12rem;
  }

  .secondary__heading {
    font-size: 2.6rem;
  }

  .destination__img {
    width: 85%;
  }
  .destination__text {
    width: 100%;
  }

  .crew__section {
    padding: 12rem 2rem 0;
  }

  .destination__section {
    padding-bottom: 4rem;
  }

  .technology__text-box {
    padding: 0 2rem;
  }

  .technology__heading {
    font-size: 4rem;
  }

  .technology__section {
    padding-bottom: 4rem;
  }
}
