.grid-2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15rem 12rem 0;
}

.nav__links .active__link {
  border-bottom: 4px solid #fff;
}

.nav__links .active__link:hover {
  border-bottom: 4px solid #fff;
}

.active__destination {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.active__number {
  color: #000;
  background-color: #fff;
}

.home__section {
  /* display: none; */
  padding-bottom: 19rem;
}

.destination__section {
  display: none;
}

.crew__section {
  display: none;
  height: 72rem;
}

.technology__section {
  display: none;
}

.dots {
  display: flex;
  align-items: baseline;
  gap: 1.6rem;
}

.dot {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 1px solid #fff;
  mix-blend-mode: normal;
  opacity: 0.17;
  background-color: #fff;
  cursor: pointer;
}

.active__dot {
  opacity: 1;
}
